* {
  box-sizing: border-box;
  font-family: "Creepster", cursive;
}

.container {
  background-color: #3f979b;
  text-align: center;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 24px;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 200px;
}
.desc {
  margin-top: 58px;
}

.input {
  text-align: center;
  margin-left: 10px;
  margin-top: 12px;
}

.btn-outline-dark {
  text-align: center;
  margin-bottom: 20px;
}
.h2 {
  text-align: center;
}
